@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
:root{
    --ancho-maximo: 1440px;
    --color-violet-dark: hsl(257, 27%, 26%);
    --color-very-darkBlue:  hsl(255, 11%, 22%);
    --color-cyan: hsl(180, 66%, 49%);
    --color-grayish-violet: hsl(257, 7%, 63%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
}
.header{
    max-width: var(--ancho-maximo);
    margin: 0 auto; /* centra el header*/
    display: flex; /* para mover los elementos del header de lado a lado*/
    justify-content: space-between; /*Para separar entre los elementos del header*/
    align-items: center; /* Alinea los elementos de manera vertical*/
    height: 80px;
    
}
.header__list{
    display: flex;
    list-style: none;
    gap: 1.5rem; /* Separa los hijos flexibles de su padre flexible*/
}
.header__link{
    text-decoration: none;
    color: var(--color-violet-dar);
    font-weight: 500;
}
.header__button{
    display: flex;
    list-style: none;
    gap: 1.5rem;
}
.main{
    max-width: var(--ancho-maximo);
    margin: 0 auto;
}
.fila{
    display: flex;
    /*flex-wrap: wrap; /*Para que los elementos rebalsen*/
    justify-content: space-between;
    margin-top: 80px;
    gap: 70px;
}
.columna{
    padding: 50px;
    width: 600px;
}

.sub__titulo{
    font-size: 60px;
    line-height: 1.8cm;
    padding-top: 45px;
    padding-bottom: 10px;
}
.sub__contenido1{
    font-size: 18px;
    color: var(--Grayish-Violet);
    padding-bottom: 40px;
}

.main__banner{
    background-size: cover;
    width: 700px;
    height: 500px;
}

.login{
    background-color: white;
    color: var(--color-grayish-violet);
    cursor: pointer;
}
.sign__up{
    background-color: var(--color-cyan);
    padding: 0.5rem 1.2rem;
    border: none;
    color: white;
    border-radius: 1.5rem;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}
.btn1{
    background-color: var(--color-cyan);
    padding: 0.5rem 1.2rem;
    border: none;
    color: white;
    border-radius: 1.5rem;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}

.caja__texto{
    margin-left: 40px;
    padding-left: 30px;
    width: 1050px;
    height: 50px;
    border-radius: 15px;
    border: none;
    font-size: 16px;
    color: var(--color-grayish-violet);
}
.caja__button{
    margin-right: 100px;
    background-color: var(--color-cyan);
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 16px 10px 16px;
    cursor: pointer;
    font-size: 20px;
}

.fila2{
    margin-top: 80px;
    margin-bottom: 0px;
    background-color: rgb(247, 243, 243);
    height: 850px;
    padding-top: 100px;
    position: relative;
}
.columna2{
    border-radius: 15px;
    margin-top: -180px;
    margin-left: 70px;
    margin-right: 70px;
    display: flex;
    justify-content: space-between;
    height: 150px;
    width: 1325px;
    align-items: center;
    background-image: url(./../images/bg-shorten-desktop.svg);
    background-size: content;
    background-color: var(--color-very-darkBlue);
    position: center;
}
.sub__contenido1{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.subtitulo2__contenido{
    text-align: center;
    padding-right: 400px;
    padding-left: 400px;
    color: var(--color-grayish-violet);
}
.fila3{
    margin-top: 90px;
    margin-bottom: 80px;
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.contenido1{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 20px 1px rgb(209, 209, 209);
    padding-top: 80px;
    height: 280px;
    padding-left: 25px;
    padding-right: 40px;
    position: relative;
}
.fila3 figure{
    position: absolute;
    margin-top: -120px;
    background-color: var(--color-violet-dark);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenido2{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 20px 1px rgb(209, 209, 209);
    height: 280px;
    margin-top: 50px;
    padding-top: 80px;
    padding-left: 25px;
    padding-right: 40px;
    position: relative;
}
.contenido3{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 20px 1px rgb(209, 209, 209);
    margin-top: 100px;
    margin-bottom: 90px;
    height: 280px;
    padding-top: 80px;
    padding-left: 25px;
    padding-right: 40px;
    position: relative;
}
hr{
    position: absolute;
    border: 3px solid var(--color-cyan);
    background-color: var(--color-cyan);
    width: 800px;
    color: var(--color-cyan);
    margin-left: 350px;
    margin-top: 250px;
}
.subtitulo__inferior{
    background-image: url(./../images/bg-shorten-desktop.svg);
    background-color: var(--color-violet-dark);
    height: 200px;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.subtitutlo_inferior_h1{
    padding-top: 50px;
    color: white;
}
.subtitutlo_inferior_button{
    margin-top: 20px;
    background-color: var(--color-cyan);
    color: white;
    border: none;
    border-radius: 25px;
    padding: 15px 25px 15px 25px;
    cursor: pointer;
    font-size: 20px;
}
.subtitutlo_inferior_button:hover{
    opacity: 0.5;
    transition: 0.3s all ease;
    transform: translate(0,2px);
}
.footer__contenido{
    display: flex;
    justify-content: space-between;
    height: 250px;
    background-color: var(--color-very-darkBlue);
    
}
.footer__logo{
    margin-top: 50px;
    margin-left: 100px;
}

.footer__logo svg path{
    fill: white;
}

.footer__subtitulos{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
}
.footer__item_n{
    color: white;
    width: 220px;
    padding-left: 70px;
    padding-top: 50px;
    line-height: 0.2cm;
    
}
.footer_subtitulos_list>ul{
    flex-direction: column;
    list-style: none;
}

.footer__item_n:hover{
    color:white
}
.footer_subtitulos_list>ul a{
    text-decoration: none;
    color: var(--color-grayish-violet);
}
.footer_subtitulos_list>ul a:hover{
    color:var(--color-cyan);
}
.footer_redes_sociales{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    width: 400px;
    padding-top: 50px;
    padding-right: 140px;
    padding-left: 50px;
    background-color: var(--color-very-darkBlue);
}
.footer_redes_sociales svg:hover path{
    color:var(--color-cyan);
}
